<html>
    <head>
        <link href="/stylesheets/style.css" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Dosis:wght@300&family=Kanit:wght@100;300&family=Mochiy+Pop+One&family=Oswald:wght@200&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </head>
        <script src="/javascripts/project.js"></script>    
    <body>
        <form action="/movie/edit_delete" method="post">
        <input type="hidden" value="<%=data.movieid %>" name="movieid">
            <div class="maincontainer">
            <div class="box">
                <div class="container">
                        <div class="row">
                        <div class="col-12" headstyle centerstyle>
                        <img src="/images/movie.png" width="5%">
                        <span>Movie Register</span>
                       </div>
                       </div>
                        <div class="row">
                        <div class="col-12">
                        <hr>
                    </div>
                    </div>
                
                 
                 
                    <div class="row">
                    <div class="col-3">
                    <select class="form-select" id="stateid" name="stateid">
                        <option value="<%=data.stateid %>" ><%=data.statename %></option>
                    </select>
                    </div>
                            <div class="col-3">
                            <select class="form-select" id="cityid" name="cityid">
                            <option value="<%=data.cityid %>" ><%=data.cityname %></option>
                            </select>
                            </div>
                            <div class="col-3">
                            <select class="form-select" id="cinemaid" name="cinemaid">
                                <option value="<%=data.cinemaid %>" ><%=data.cinemaname %></option>
                            </select>
                            </div>
                            <div class="col-3">
                            <select class="form-select" id="screenid" name="screenid">
                                <option value="<%=data.screenid %>" ><%=data.screenname %></option>
                            </select>                     
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-12">
                            <input type="text" value="<%=data.moviename%>" placeholder="Movie Name" name="moviename" class="form-control" style="margin-top: 8px;">
                            </div>
                            </div> 
                            <div class="row">
                            <div class="col-12">
                            <input type="text"  value="<%=data.description%>" placeholder="Description" name="description" class="form-control" style="margin-top: 8px;">
                            </div>
                            <div class="row">
                            <div class="col-4">
                            <input type="text" value="<%=data.actor%>" placeholder="Actor Name" name="actor" class="form-control" style="margin-top: 8px;">
                            </div>
                            <div class="col-4">
                            <input type="text" value="<%=data.actress%>"  placeholder="Actoress Name" name="actress" class="form-control" style="margin-top: 8px;">
                            </div>
                            <div class="col-4">
                            <input type="text" value="<%=data.singer%>"  placeholder="Singer Name" name="singer" class="form-control" style="margin-top: 8px;">
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-6">
                            <input type="date" value="<%=data.releasedate%>" placeholder="Release Date" name="release"  class="form-control" style="margin-top: 8px;">
                            </div>
                            <div class="col-6">
                            <input type="text" value="<%=data.price%>"  placeholder="Ticket Price" name="price" class="form-control" style="margin-top: 8px;">
                            </div>
                            </div>
                    <% var avl = {'2d':false,'3d':false}
                    avl[data.status]=true
                   %>
                                <div class="row" style="margin-top: 8px;">
                                <div class="col-6">
                                    <div class="form-check form-check-inline">
                                        <input <%=avl['2d']?'checked':'' %> class="form-check-input" type="radio" name="status" id="2d" value="2d">
                                        <label class="form-check-label" for="2d">2d</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input <%=avl['3d']?'checked':'' %> class="form-check-input" type="radio" name="status" id="3d" value="3d">
                                        <label class="form-check-label" for="3d">3d</label>
                                      </div>
                            </div>
                            <div class="row" style="margin-top: 8px;">
                            <div class="col-6">
                            <label for="picture" class="form-label">Upload  Image..</label>
                            <input accept="image/jpeg, image/png" class="form-control" type="file" id="picture" name="picture">
                            </div>    
                            <div class="col-6" style="display: flex; align-items: center; justify-content: center;" >
                            <img src="/images/image.png"   id="movieimage" width="60" style="border-radius: 10px;"/>
                            </div>    
                            </div>
                            <div class="row" style="margin-top: 8px;">
                            <div class="col-6" style="display: flex; align-items: center; justify-content: center;">
                            <button type="submit" name="btn" value="Edit" class="btn btn-primary" style="width:200px">Edit</button>
                            </div>    
                             <div class="col-6"  style="display: flex; align-items: center; justify-content: center;" >
                              <button type="submit" name="btn" value="Delete" class="btn btn-primary" style="width:200px">Delete</button>
                             </div>                           
                            </div>
                            
                            </div>
                            </div>
                            </div>
                           </form>
                        </body>
</html>